.root {
    -fx-font-size: 14px;
    -fx-font-family: Roboto;
    -fx-text-fill: #303030;
    src: "/resources/com/cathive/fonts/roboto/Roboto-Regular.ttf";
}

.button-bar {
    -fx-padding: 0.7em 0.7em;
    -fx-spacing: 0.7em;
}

.button-raised {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 12px;
    -jfx-button-type: FLAT;
    -fx-background-color: #ff3e6e;
    -fx-text-fill: #f0f0f0;
}

.button-main {
    -fx-background-color: #3e3eff;
}
